$black: #1f1f1f;
$background: #2d2d2d;
$gray-line: #dcdde0;
$text: #dcdde0;
$text-highlight: #b3b9ff;
$title: #fff;
$red: #e83f5b;
$green: #4cd62b;
$green-dark: #018c28;
$blue: #5965e0;
$blue-dark: #4953b8;
$blue-twitter: #2aa9e0;

#container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

#appLogo {
  display: none;
}

@media (max-width: 900px) {
  #container {
    height: 93vh;
    padding: 1rem 2rem;
  }
  #appLogo {
    display: block;
    width: 12rem;
    margin: 0 auto;
    padding: 1rem 0;
  }
}
