#container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}

#appLogo {
  display: none;
}

@media (max-width: 900px) {
  #container {
    height: 93vh;
    padding: 1rem 2rem;
  }

  #appLogo {
    display: block;
    width: 12rem;
    margin: 0 auto;
    padding: 1rem 0;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 75%;
  }

  body {
    min-height: 90vh;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #2d2d2d;
  color: #dcdde0;
}

body,
input,
textarea,
button {
  font: 400 1rem "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
#experience-bar {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

#experience-bar span {
  font-size: 1rem;
}

#experience-bar > div {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background: #000;
  margin: 0 1.5rem;
  position: relative;
}

#experience-bar > div > div {
  height: 4px;
  border-radius: 4px;
  background: #4cd62b;
  transition: width ease-in-out 2s;
}

#currentExperience {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
  color: #4cd62b;
  transition: left ease-in-out 2s;
}
#currentExperience::before {
  content: "";
  width: 0px;
  height: 0px;
  display: block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: solid 5px #4cd62b;
}

#container section {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

@media (max-width: 900px) {
  #container section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 2.5rem;
  }
}
#profileContainer {
  display: flex;
  align-items: center;
}

#profileContainer > img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

#profileContainer > div {
  margin-left: 1.5rem;
}

#profileContainer div strong {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
}

#profileContainer div p {
  display: flex;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #4cd62b;
}

#profileContainer div p img {
  margin-right: 0.5rem;
}

#completedChallengesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3.5rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d7d8da;
  font-weight: 500;
}

#completedChallengesContainer span:first-child {
  font-size: 1.25rem;
}

#completedChallengesContainer span:last-child {
  font-size: 1.5rem;
}

#countdownContainer {
  display: flex;
  align-items: center;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  color: #fff;
}
#countdownContainer > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #1f1f1f;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  font-size: 8.5rem;
  text-align: center;
}
#countdownContainer > div > span {
  flex: 1;
}
#countdownContainer > span {
  font-size: 6.25rem;
  margin: 0 0.5rem;
}
#countdownContainer > div span:first-child {
  border-right: 1px solid #2d2d2d;
}
#countdownContainer > div span:last-child {
  border-left: 1px solid #2d2d2d;
}

.countdownButton {
  width: 100%;
  height: 5rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  background: #018c28;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  transition: background-color 0.2s;
}
.countdownButton:not(:disabled):hover {
  background: #4cd62b;
}
.countdownButton:disabled {
  background: #1f1f1f;
  color: #dcdde0;
  cursor: not-allowed;
  border-bottom: solid 4px #4cd62b;
}
.countdownButton:disabled img {
  height: 1.1rem;
  margin-left: 1rem;
}

#countdownButtonActive {
  background: #1f1f1f;
  color: #fff;
  border-bottom: solid 4px #e83f5b;
}
#countdownButtonActive:not(:disabled):hover {
  background: #e83f5b;
  color: #fff;
}

@media (max-width: 900px) {
  .hide {
    display: none;
  }
}
#challengeBoxContainer {
  height: 100%;
  background: #1f1f1f;
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#challengeBoxNotActive {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#challengeBoxNotActive > img {
  width: 70%;
  margin-bottom: 8rem;
}
#challengeBoxNotActive strong {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
  max-width: 70%;
}
#challengeBoxNotActive p {
  display: flex;
  align-items: center;
  line-height: 1.4;
  max-width: 70%;
  margin-top: 3rem;
  text-align: initial;
}
#challengeBoxNotActive p img {
  height: 3rem;
  margin-right: 1rem;
}

#challengeBoxActive {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#challengeBoxActive header {
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
  padding: 0 2rem 1.5rem;
  border-bottom: 1px solid #dcdde0;
}
#challengeBoxActive main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#challengeBoxActive main p {
  line-height: 1.5;
}
#challengeBoxActive strong {
  color: #4cd62b;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 1.5rem 0 1rem;
}
#challengeBoxActive footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}
#challengeBoxActive footer button {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: filter 0.2s;
}

#challengeFailedButton {
  background: rgba(232, 63, 91, 0.2);
  color: #e83f5b;
}
#challengeFailedButton:hover {
  background: #e83f5b;
  color: #fff;
}

#challengeCompletedButton {
  background: rgba(1, 140, 40, 0.2);
  color: #4cd62b;
}
#challengeCompletedButton:hover {
  background: #018c28;
  color: #fff;
}

#bottomLogo {
  display: none;
}

@media (max-width: 900px) {
  #challengeBoxActive {
    height: 25rem;
  }
  #challengeBoxActive img {
    height: 5rem;
  }

  #challengeBoxNotActive > img {
    display: none;
  }
  #challengeBoxNotActive strong {
    font-size: 1.2rem;
    max-width: unset;
  }
  #challengeBoxNotActive p {
    max-width: unset;
  }
  #challengeBoxNotActive p img {
    height: 2rem;
  }
}
#levelUpModalOverlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#levelUpModalContainer {
  background: #1f1f1f;
  width: 100%;
  max-width: 400px;
  padding: 2rem 3rem;
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;
}
#levelUpModalContainer header {
  font-size: 8.75rem;
  font-weight: 600;
  color: #4cd62b;
  background: url("/icons/levelup.svg") no-repeat center;
  background-size: contain;
}
#levelUpModalContainer strong {
  font-size: 2.25rem;
  color: #4cd62b;
}
#levelUpModalContainer p {
  font-size: 1.25rem;
  color: #dcdde0;
  margin-top: 0.25rem;
}
#levelUpModalContainer button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: transparent;
  border: 0;
  font-size: 0;
}

/*# sourceMappingURL=mainStyles.css.map */
