#container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #f2f3f5;
  color: #666666;
}

body,
input,
textarea,
button {
  font: 400 1rem "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
#experience-bar {
  display: flex;
  align-items: center;
}

#experience-bar span {
  font-size: 1rem;
}

#experience-bar > div {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background: #dcdde0;
  margin: 0 1.5rem;
  position: relative;
}

#experience-bar > div > div {
  height: 4px;
  border-radius: 4px;
  background: #4cd62b;
}

#currentExperience {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
}

#container section {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

#profileContainer {
  display: flex;
  align-items: center;
}

#profileContainer > img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

#profileContainer > div {
  margin-left: 1.5rem;
}

#profileContainer div strong {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2e384d;
}

#profileContainer div p {
  display: flex;
  font-size: 1rem;
  margin-top: 0.5rem;
}

#profileContainer div p img {
  margin-right: 0.5rem;
}

#completedChallengesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3.5rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d7d8da;
  font-weight: 500;
}

#completedChallengesContainer span:first-child {
  font-size: 1.25rem;
}

#completedChallengesContainer span:last-child {
  font-size: 1.5rem;
}

#countdownContainer {
  display: flex;
  align-items: center;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  color: #2e384d;
}
#countdownContainer > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  font-size: 8.5rem;
  text-align: center;
}
#countdownContainer > div > span {
  flex: 1;
}
#countdownContainer > span {
  font-size: 6.25rem;
  margin: 0 0.5rem;
}
#countdownContainer > div span:first-child {
  border-right: 1px solid #f0f1f3;
}
#countdownContainer > div span:last-child {
  border-left: 1px solid #f0f1f3;
}

.countdownButton {
  width: 100%;
  height: 5rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  background: #5965e0;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  transition: background-color 0.2s;
}
.countdownButton:not(:disabled):hover {
  background: #4953b8;
}
.countdownButton:disabled {
  background: #fff;
  color: #666666;
  cursor: not-allowed;
  border-bottom: solid 4px #4cd62b;
}
.countdownButton:disabled img {
  height: 1.1rem;
  margin-left: 1rem;
}

#countdownButtonActive {
  background: #fff;
  color: #2e384d;
}
#countdownButtonActive:not(:disabled):hover {
  background: #e83f5b;
  color: #fff;
}

#challengeBoxContainer {
  height: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#challengeBoxNotActive {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#challengeBoxNotActive strong {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
  max-width: 70%;
}
#challengeBoxNotActive p {
  display: flex;
  align-items: center;
  line-height: 1.4;
  max-width: 70%;
  margin-top: 3rem;
  text-align: initial;
}
#challengeBoxNotActive p img {
  height: 3rem;
  margin-right: 1rem;
}

#challengeBoxActive {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#challengeBoxActive header {
  color: #5965e0;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0 2rem 1.5rem;
  border-bottom: 1px solid #dcdde0;
}
#challengeBoxActive main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#challengeBoxActive main p {
  line-height: 1.5;
}
#challengeBoxActive strong {
  font-weight: 600;
  font-size: 2rem;
  color: #2e384d;
  margin: 1.5rem 0 1rem;
}
#challengeBoxActive footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
#challengeBoxActive footer button {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  transition: filter 0.2s;
}
#challengeBoxActive footer button:hover {
  filter: brightness(0.9);
}

#challengeFailedButton {
  background: #e83f5b;
}

#challengeCompletedButton {
  background: #4cd62b;
}

/*# sourceMappingURL=mainStyles.css.map */
