@use '../base/base' as b;

#challengeBoxContainer {
  height: 100%;
  background: b.$black;
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#challengeBoxNotActive {
  display: flex;
  flex-direction: column;
  align-items: center;

  > img {
    width: 70%;
    margin-bottom: 8rem;
  }

  strong {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
    max-width: 70%;
  }

  p {
    display: flex;
    align-items: center;
    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;
    text-align: initial;
    img {
      height: 3rem;
      margin-right: 1rem;
    }
  }
}

#challengeBoxActive {
  height: 100%;
  display: flex;
  flex-direction: column;

  header {
    font-weight: 600;
    font-size: 2rem;
    color: b.$title;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid b.$gray-line;
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      line-height: 1.5;
    }
  }

  strong {
    color: b.$green;
    font-weight: 600;
    font-size: 1.25rem;
    margin: 1.5rem 0 1rem;
  }

  footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;

    button {
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: 600;
      transition: filter 0.2s;
    }
  }
}

#challengeFailedButton {
  background: rgba($color: b.$red, $alpha: 0.2);
  color: b.$red;

  &:hover {
    background: b.$red;
    color: b.$title;
  }
}

#challengeCompletedButton {
  background: rgba($color: b.$green-dark, $alpha: 0.2);
  color: b.$green;

  &:hover {
    background: b.$green-dark;
    color: b.$title;
  }
}

#bottomLogo {
  display: none;
}

@media (max-width: 900px) {
  #challengeBoxActive {
    height: 25rem;
    img {
      height: 5rem;
    }
  }

  #challengeBoxNotActive {
    > img {
      display: none;
    }

    strong {
      font-size: 1.2rem;
      max-width: unset;
    }

    p {
      max-width: unset;
      img {
        height: 2rem;
      }
    }
  }
}
