@use '../base/base' as b;

#countdownContainer {
  display: flex;
  align-items: center;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  color: b.$title;
  > div {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: b.$black;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    font-size: 8.5rem;
    text-align: center;

    > span {
      flex: 1;
    }
  }

  > span {
    font-size: 6.25rem;
    margin: 0 0.5rem;
  }

  > div span:first-child {
    border-right: 1px solid b.$background;
  }

  > div span:last-child {
    border-left: 1px solid b.$background;
  }
}

.countdownButton {
  width: 100%;
  height: 5rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  background: b.$green-dark;
  color: b.$title;
  font-size: 1.25rem;
  font-weight: 600;
  transition: background-color 0.2s;
  &:not(:disabled):hover {
    background: b.$green;
  }
  &:disabled {
    background: b.$black;
    color: b.$text;
    cursor: not-allowed;
    border-bottom: solid 4px b.$green;
    img {
      height: 1.1rem;
      margin-left: 1rem;
    }
  }
}

#countdownButtonActive {
  background: b.$black;
  color: b.$title;
  border-bottom: solid 4px b.$red;
  &:not(:disabled):hover {
    background: b.$red;
    color: b.$title;
  }
}

@media (max-width: 900px) {
  .hide {
    display: none;
  }
}
