@use '../base/base' as b;

#experience-bar {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

#experience-bar span {
  font-size: 1rem;
}

#experience-bar > div {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background: #000;
  margin: 0 1.5rem;
  position: relative;
}

#experience-bar > div > div {
  height: 4px;
  border-radius: 4px;
  background: b.$green;
  transition: width ease-in-out 2s;
}

#currentExperience {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
  color: b.$green;
  transition: left ease-in-out 2s;

  &::before {
    content: '';
    width: 0px;
    height: 0px;
    display: block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: solid 5px b.$green;
  }
}
