@use '../base/base' as b;

#profileContainer {
  display: flex;
  align-items: center;
}

#profileContainer > img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

#profileContainer > div {
  margin-left: 1.5rem;
}

#profileContainer div strong {
  font-size: 1.8rem;
  font-weight: 600;
  color: b.$title;
}

#profileContainer div p {
  display: flex;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: b.$green;
}

#profileContainer div p img {
  margin-right: 0.5rem;
}
